@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Reem+Kufi+Fun:wght@400..700&display=swap');

/*Font Size*/
$size-menu : " test";
// Fonts
$font-menu: "Reem Kufi Fun", sans-serif;
//Fonts Color:
$font-label-menu : white;