@use "base/variable";
@use "base/reset";

.main-container-layout {
    height: 100%;

    .horizontal-container {
        height: 100%;
        display: flex;
        /* Utiliza Flexbox para establecer el diseño horizontal */
        align-items: center;
        /* Centra verticalmente los elementos */
    }

    .logo-container {
        margin: 0 auto;
        /* Empuja el logo al final del contenedor horizontal */
    }

    /* Ajusta el estilo del contenedor principal según tus necesidades */
}



.main-container-menu {
    background: #09af1f;
    width: 300px;
    height: 100vh;
    /* Hace que el contenedor ocupe toda la altura de la pantalla */

    display: flex;
    flex-direction: column;
    /* Alinear elementos en columna */

    .container-user,
    .container-menu-logout {
        padding: 0.9em;
        text-align: center;
        display: flex;
        align-items: center;
        color: white;
        font-family: variable.$font-menu;
    }

    .container-user {
        border-bottom: 1px solid white;
    }

    .container-menu-logout {
        margin-top: auto;
        /* Empuja el menú de cierre de sesión hacia la parte inferior */
        border-top: 1px solid white;
    }

    .container-icon,
    .container-icon-logout {
        margin-right: 0.5em;
    }

    label {
        color: white;
    }
}

ul {
    li {
        padding: 0.9em;
        display: flex;
        align-items: center;


        .img-arrow {
            color: white;
            margin-left: 10px;
        }

        &:hover {
            cursor: pointer;
            background-color: rgb(31, 202, 73);
        }

        a {
            color: variable.$font-label-menu;
            font-family: variable.$font-menu;


        }



    }
}